<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.1">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>Servlet.HelloServlet</servlet-class>

        <init-param>
            <param-name>salary</param-name>
            <param-value>15000 dollors</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SquareServlet</servlet-name>
        <servlet-class>Servlet.SquareServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SquareServlet</servlet-name>
        <url-pattern>/square</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>name</param-name>
        <param-value>Rajeev Kumar Gupta</param-value>
    </context-param>

    <context-param>
        <param-name>occupation</param-name>
        <param-value>Reseach and Software Engineer</param-value>
    </context-param>


</web-app>
